.dws-forms-section.dws-forms-section-has-co-buyer {
  max-width: 764px;
}
.dws-forms-section.dws-forms-section-has-co-buyer.dws-fields-wrapper {
  max-width: 740px;
}
.dws-forms-section.dws-forms-section-has-co-buyer .dws-forms-form-label,
.dws-forms-section.dws-forms-section-has-co-buyer .dws-forms-checkbox-container {
  font-size: 0.75em;
  line-height: 1.83333333em;
}
.dws-forms-section.dws-forms-section-has-co-buyer .dws-forms-form-control {
  border-radius: 5px;
  border: 1px solid #CCC;
  background-color: #F9F9F9;
  font-size: 0.75em;
  /* computed based on font-size */
  height: 2.66em;
  line-height: 1.375em;
  padding: 0 12px;
}
.dws-forms-section.dws-forms-section-has-co-buyer .dws-forms-co-buyer-relationship {
  text-align: right;
}
.dws-forms-section.dws-forms-section-has-co-buyer .dws-forms-co-buyer-relationship .invalid-feedback {
  text-align: left;
}
.dws-forms-section.dws-forms-section-has-co-buyer .dws-forms-co-buyer-relationship-wrapper,
.dws-forms-section.dws-forms-section-has-co-buyer .dws-forms-has-co-buyer-option {
  margin-bottom: 0px;
}
@media (max-width: 767px) {
  #dwsTabContent .dws-forms-section.dws-forms-section-has-co-buyer .dws-forms-co-buyer-relationship {
    text-align: left;
  }
}
