.dws-forms-section.dws-forms-section-comments {
  max-width: 764px;
}
.dws-forms-section.dws-forms-section-comments.dws-fields-wrapper {
  max-width: 740px;
}
.dws-forms-section.dws-forms-section-comments .dws-forms-form-label,
.dws-forms-section.dws-forms-section-comments textarea {
  font-size: 0.75em;
  line-height: 1.83333333em;
}
.dws-forms-section.dws-forms-section-comments .dws-forms-form-control {
  border-radius: 5px;
  border: 1px solid #CCC;
  background: #F9F9F9;
  font-size: 0.75em;
  /* computed based on font-size */
  height: 2.66em;
  line-height: 1.375em;
  padding: 0 12px;
}
.dws-forms-section.dws-forms-section-comments .dws-comments-section-textarea-char-counter-label {
  text-align: right;
  font-size: 0.75em;
}
.dws-forms-section.dws-forms-section-comments .dws-forms-add-and-remove-button-container button {
  background: transparent;
  border: none;
  font-size: 0.75em;
  line-height: 1.375em;
}
.dws-forms-section.dws-forms-section-comments textarea.dws-forms-form-control {
  height: 70px;
  padding: 10px;
}
