.dws-forms-section.dws-forms-section-residential-information,
.dws-forms-section.dws-forms-section-co-buyer-residential-information {
  max-width: 764px;
  margin-bottom: 0;
}
.dws-forms-section.dws-forms-section-residential-information.dws-fields-wrapper,
.dws-forms-section.dws-forms-section-co-buyer-residential-information.dws-fields-wrapper {
  max-width: 740px;
}
.dws-forms-section.dws-forms-section-residential-information .dws-forms-form-label,
.dws-forms-section.dws-forms-section-co-buyer-residential-information .dws-forms-form-label,
.dws-forms-section.dws-forms-section-residential-information .dws-forms-checkbox-container,
.dws-forms-section.dws-forms-section-co-buyer-residential-information .dws-forms-checkbox-container {
  font-size: 0.75em;
  line-height: 1.83333333em;
}
.dws-forms-section.dws-forms-section-residential-information .dws-forms-form-control,
.dws-forms-section.dws-forms-section-co-buyer-residential-information .dws-forms-form-control {
  border-radius: 5px;
  border: 1px solid #CCC;
  background-color: #F9F9F9;
  font-size: 0.75em;
  /* computed based on font-size */
  height: 2.66em;
  line-height: 1.375em;
  padding: 0 12px;
}
