.dws-forms-section.dws-forms-section-vehicle-interested-field .dws-forms-keyword-row.dws-form-group:last-child {
  margin-bottom: 8px;
}
.dws-forms-section.dws-forms-section-vehicle-interested-field .dws-forms-search-icons {
  display: inline;
  font-size: 0.75em;
  line-height: 1.83333333em;
  padding: 0.25em 0.8em;
  border-left: 1px solid #ccc;
}
.dws-forms-section.dws-forms-section-vehicle-interested-field .dws-forms-search-icons .dropdown-menu .dropdown-item {
  font-size: 12px;
}
.dws-forms-section.dws-forms-section-vehicle-interested-field .dropdown #dws-forms-price-field {
  font-size: inherit;
  border-left: none;
}
.dws-forms-section.dws-forms-section-vehicle-interested-field .dws-field-wrap {
  position: relative;
}
.dws-forms-section.dws-forms-section-vehicle-interested-field .dws-forms-icon-search-container {
  position: absolute;
  top: 12px;
  right: 10px;
}
.dws-forms-section.dws-forms-section-vehicle-interested-field .dws-forms-magnifying-icon {
  position: absolute;
  top: 12px;
  left: 15px;
}
.dws-forms-section.dws-forms-section-vehicle-interested-field .dws-forms-vehicle-interested-search-field {
  padding-left: 36px;
}
.dws-forms-section.dws-forms-section-vehicle-interested-field .dropdown-list-of-vehicles-container ul.dropdown-list-of-vehicles {
  max-width: 576px;
  overflow-x: hidden;
}
.dws-forms-section.dws-forms-section-vehicle-interested-field .dropdown-list-of-vehicles-container .close-vehicle-dropdown-list {
  top: -15px;
  right: 24px;
  font-size: 0.75em;
  text-decoration: none;
}
.dws-forms-section.dws-forms-section-vehicle-interested-field .dropdown-list-of-vehicles-container .search-results-vehicle-container {
  padding: 12px 5px;
}
.dws-forms-section.dws-forms-section-vehicle-interested-field .dropdown-list-of-vehicles-container .search-results-vehicle-details .search-results-vehicle-title {
  font-size: 0.875em;
  line-height: 1.7;
  color: #333;
}
.dws-forms-section.dws-forms-section-vehicle-interested-field .dropdown-list-of-vehicles-container .search-results-vehicle-details .search-results-vehicle-options.row {
  color: #444444;
}
