@tailwind base;
@tailwind components;
@tailwind utilities;

.background-gradient {
    background: radial-gradient(
    circle at top center,
    hsla(222, 80%, 60%, 0.5) 0%,
    hsla(222, 0%, 0%, 0) 50%,
    hsla(222, 0%, 0%, 0) 100%
    );
}

.dropdown ul {
    margin-top: -115px; /* Initially hidden */
    transition: margin-top 300ms ease; /* Smooth transition */
}

.showDropdown ul {
    margin-top: 0; /* Show dropdown */
}

.placeholder-slate-100::placeholder {
    color: #CBD5E0; /* This is the color for the placeholder text */
}

.placeholder-slate-100ffect:hover{
    background-color: red;
} */

/* Custom CSS for transition effect */
.fade-in {
    animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}

.miniShapes{
    max-height: 350px;
    height: 100%;
    min-height: 324px;
}