/* Font declarations */
@font-face {
    font-family: 'Hanken Grotesk';
    src: url('assets/HankenGrotesk-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('assets/HankenGrotesk-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('assets/Lato-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/Lato-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom utility classes */
@layer utilities {
    .hk-font {
        font-family: 'Hanken Grotesk', sans-serif;
    }
    
    .hk-font-medium {
        font-family: 'Hanken Grotesk', sans-serif;
        font-weight: 500;
    }

    .hk-font-bold {
        font-family: 'Hanken Grotesk', sans-serif;
        font-weight: 700;
    }
    .lato-font {
        font-family: 'Lato', sans-serif;
    }

    .lato-font-medium {
        font-family: 'Lato', sans-serif;
        font-weight: 500;
    }

    .lato-font-bold {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
    }
}

#site_form_submit{
    color: #1A2634 !important;
    font-weight: 700 !important;
    font-family: 'Lato', sans-serif !important;
}
#site_form_submit:hover{
    background-color: #f7d036 !important;
}